{% import "./components.njk" as components %}
{% import "./forms.njk" as forms %}

<!DOCTYPE html>
<html lang="en" class="h-screen">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ page_title }}
            | Seminar 3 Research Project</title>
        <link rel="stylesheet" href="/static/css/main.min.css">
        <meta name="turbolinks-cache-control" content="no-cache">
        <script src="/static/js/global.min.js"></script>
        {% block head_scripts %}{% endblock head_scripts %}
    </head>

    <body class="body">
        {% block scripts %}{% endblock scripts %}
        <div class="content {{ content_class }}">
            <header>
                <nav class="navbar">
                    <div class="navbar__item">
                        <a href="/" class="navbar__text navbar__text--prominent">Seminar 3 Research Project</a>
                    </div>
                    {% if trial %}
                        <div class="navbar__item">
                            <p class="navbar__text">{{ trial }}</p>
                        </div>
                    {% endif %}
                </nav>
                <!-- Begin Subheader -->
                {% block subheader %}{% endblock %}
                <!-- End Subheader -->
            </header>
            <!-- Begin Main -->
            {% block main %}{% endblock %}
            <!-- End Main -->
            <footer></footer>
        </div>
        <!-- Modal -->
        <div class="modal">
            <div class="modal__container">
                <div class="modal__background-wrapper" aria-hidden="true">
                    <div class="modal__background"></div>
                </div>

                <!-- This element is to trick the browser into centering the modal contents. -->
                <span class="modal__spacer" aria-hidden="true">​</span>
                <div class="modal__window" role="dialog" aria-modal="true" aria-labelledby="modal-headline">
                    <div class="modal__content-wrapper">
                        <div class="modal__content">
                            <h3 class="modal__title"></h3>
                            <p class="modal__message"></p>
                        </div>
                    </div>
                    <div class="modal__footer">
                        <button class="modal__button">
                            Close
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </body>

</html>