{% set page_title = "Home" %}
{% extends "shared/layout.njk" %}

{% block main %}
    {% call components.splash(heading = "Take a Break", subheading = [
        "For this study, you will complete a few trials of a task meant to test your memory and recollection.",
        "This will take about 15 minutes."
    ], caption = "Step 2 of 3") %}
        <div class="my-8 h-12 mx-auto text-center">
            {{ components.timer(label="Next step will be available in", minutes=1/6, redirect_to="/steps/3/splash") }}
        </div>
    {% endcall %}
{% endblock main %}