{% set page_title = "Home" %}
{% extends "shared/layout.njk" %}

{% block main %}
    {% call components.splash(heading = "Effects of Music Genre on Memory and Recollection", subheading = ["To participate in this study, please visit this website from a laptop or desktop."]) %}{% endcall %}
{% endblock main %}