{% set page_title = "Home" %}
{% extends "shared/layout.njk" %}

{% block scripts %}
    <script>
        window.TRIAL_DESCRIPTION = {{ jsonTrialDescription | safe }};
    </script>
    <script src="/static/js/study-photos.min.js"></script>
{% endblock scripts %}

{% block subheader %}
    <header class="study-header study-header--hidden">
        <div class="study-header__content">
            <div class="study-header__content-left">
                <p class="text-xs sm:text-sm font-semibold tracking-wider leading-tight uppercase text-gray-400">Step 1 of 3
                </p>
                <h1 class="text-2xl sm:text-3xl font-semibold leading-tight text-gray-900">
                    Study Photos
                </h1>
                <p class="text-lg sm:text-xl font-regular leading-tight text-gray-500">Try to memorize what you see.</p>
            </div>
            <div class="study-header__content-right">
                {{ components.timer(label="Photos will be hidden in", minutes=timer.length, redirect_to=timer.redirect) }}
            </div>
        </div>
    </header>
{% endblock subheader %}

{% block main %}
    <main class="study-content study-content--hidden">
        <div class="photo-grid photo-grid--4-by-4">
            {% for photo in photos %}
                <div class="photo" style="background-image: url({{ photo.path }});"></div>
            {% endfor %}
        </div>
    </main>
    {% call components.splash(heading = "Study Photos", subheading = ["Try to memorize what you see. Do not write anything down."], caption = "Step 1 of 3") %}
    <div class="button-wrapper">
        <button class="button" id="start-button">
            Start
        </button>
    </div>
    {% endcall %}
{% endblock main %}