{% set page_title = "Survey" %}
{% extends "shared/layout.njk" %}

{% block main %}
    {% call components.card(title = "Survey Questions", subtitle = "Please choose the answer that best represents you.") %}
    {{ forms.radio(name="Age", label="How old are you?", options={
        "under-18": "Under 18",
        "18-24": "Between 18 and 24",
        "25-34": "Between 25 and 34",
        "35-44": "Between 35 and 44",
        "45-54": "Between 45 and 54",
        "55-64": "Between 55 and 64",
        "65-or-older": "65 or older"
    }) }}
    {{ forms.radio(name="preferred-genre", label="What is your favorite music genre?", options={
        "classical": "Classical",
        "jazz": "Jazz",
        "pop": "Pop",
        "hip-hop": "Hip-Hop/Rap",
        "rb": "R&B/Soul",
        "country": "Country",
        "rock": "Rock"
    }) }}
    {{ forms.radio(name="prefers-music-while-studying", label="Do you listen to music while studying?", options={
        "true": "Yes",
        "false": "No"
    }) }}
    {% endcall %}
    <script>
        document.getElementById('form').onsubmit = e => {
            e.preventDefault()
            Turbolinks.visit('/steps/1')
        }
    </script>
{% endblock main %}