@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
    @apply sm:h-screen;
}

.content {
    @apply flex flex-col justify-between h-full bg-white;
}

.content.content--has-card {
    @apply bg-gray-200;
}

.navbar {
    @apply bg-gray-800;
}

.navbar__items {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex items-center justify-between h-16
}

.navbar__item {
    @apply flex items-center flex-shrink-0;
}

.navbar__text {
    @apply text-white;
}

.navbar__text.navbar__text--prominent {
    @apply font-semibold;
}

.modal {
    @apply fixed z-10 inset-0 overflow-y-auto hidden;
}

.modal.modal--will-enter * {
    @apply ease-out duration-300;
}

.modal.modal--will-leave * {
    @apply ease-in duration-200;
}

.modal.modal--visible, .modal.modal--will-enter, .modal.modal--will-leave {
    @apply block;
}

.modal__container {
    @apply flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0;
}

.modal__background-wrapper {
    @apply fixed inset-0 transition-opacity opacity-0;
}
.modal--visible .modal__background-wrapper {
    @apply opacity-100;
}

.modal__background {
    @apply absolute inset-0 bg-gray-500 opacity-75;
}

.modal__spacer {
    @apply hidden sm:inline-block sm:align-middle sm:h-screen;
}

.modal__window {
    @apply inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95;
    @apply opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95;
}

.modal--visible .modal__window {
    @apply opacity-100 translate-y-0 sm:scale-100;
}

.modal__content-wrapper {
    @apply bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4  sm:flex sm:items-start
}

.modal__content {
    @apply mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left;
}

.modal__title {
    @apply text-lg leading-6 font-medium text-gray-900;
}

.modal__message {
    @apply text-sm text-gray-500;
}

.modal__title + .modal__message {
    @apply mt-2;
}

.modal__footer {
    @apply bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse;
}

.modal__button {
    @apply w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-blue-600 text-base font-medium text-white hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 sm:ml-3 sm:w-auto sm:text-sm;
}

.photo-grid {
    @apply mx-auto my-6 grid grid-flow-row gap-3;
}

.photo-grid--4-by-4 {
    width: calc(400px + 3rem);
    @apply grid-rows-4 grid-cols-4;
}

.photo-grid.photo-grid--2-by-8 {
    @apply grid-cols-2 gap-2 grid-flow-row;
}

.photo {
    height: 100px;
    @apply bg-gray-300 bg-cover bg-center;
}

.photo.photo--small {
    height: calc((400px - 2rem) / 8);
    width: calc((400px - 2rem) / 8);
}

@media only screen and (min-height: calc(500px + 16rem)) and (min-width: calc(500px + 3rem)) {
    .photo-grid {
        width: calc(500px + 3rem);
    }

    .photo-grid.photo-grid--2-by-8 {
        max-height: calc(500px + 3rem);
        width: calc(125px + 0.5rem);
        @apply grid-cols-2;
    }
    
    .photo {
        height: 125px;
    }

    .photo.photo--small {
        height: calc((500px - 2rem) / 8);
        width: calc((500px - 2rem) / 8);
    }
}
@media only screen and (min-height: calc(600px + 16rem)) and (min-width: calc(600px + 3rem)) {
    .photo-grid {
        width: calc(600px + 3rem);
    }

    .photo-grid.photo-grid--2-by-8 {
        max-height: calc(600px + 3rem);
        width: calc(150px + 0.5rem);
        @apply grid-cols-2;
    }
    .photo {
        height: 150px;
    }

    .photo.photo--small {
        height: calc((600px - 2rem) / 8);
        width: calc((600px - 2rem) / 8);
    }
}

.study-header {
    @apply bg-white shadow;
}

.study-header--hidden {
    @apply hidden;
}

.study-header__content {
    @apply grid max-w-7xl grid-cols-3 gap-4 mx-auto py-6 px-4 sm:px-6 lg:px-8;
}

.study-header__content-left {
    @apply col-span-2;
}

.study-header__content-right {
    @apply col-span-1 flex flex-col justify-center text-right;
}

.study-header__caption {
    @apply text-xs sm:text-sm font-semibold tracking-wider leading-tight uppercase text-gray-400;
}

.study-header__title {
    @apply text-2xl sm:text-3xl font-semibold leading-tight text-gray-900;
}

.study-header__subtitle {
    @apply text-lg sm:text-xl leading-tight text-gray-500;
}

.study-content--flex-row {
    @apply flex flex-row;
}

.study-content--hidden {
    height: 0;
    opacity: 0;
    position: absolute;
}

.splash {
    @apply mx-auto max-w-md my-10 sm:my-auto text-center;
}

.button-wrapper {
    @apply my-8 h-12 mx-auto text-center;
}

.button {
    @apply mx-auto rounded-md shadow px-8 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-blue-600 hover:bg-blue-500 focus:outline-none focus:border-blue-700 focus:shadow-outline-blue transition duration-150 ease-in-out sm:py-4 md:text-lg md:px-10;
}

.photo--follows-cursor {
    height: 100px;
    width: 100px;
    position: absolute;
}

.slot {
    touch-action: none;
    user-select: none;
}

.slot--has-photo {
    cursor: pointer;
}

.slot--highlight {
    opacity: 0.5;
}

.unselectable {
    user-select: none;
}

.button__loading-spinner {
    @apply animate-spin -ml-1 mr-3 h-5 w-5 text-white;
}

.button__loading-text, .button__loading-spinner, .button--loading .button__text {
    @apply hidden;
}

.button--loading .button__loading-text, .button--loading .button__loading-spinner {
    @apply block;
}