{% set page_title = "Memory Test" %}
{% extends "shared/layout.njk" %}

{% block main %}
    {% call components.splash(heading = "Memory Test", subheading = [
        "The photos will be shown to you again out of order. Try to re-assemble the grid from memory."
    ], caption = "Step 3 of 3") %}
    {{ components.link(destination="/steps/3", label="Start") }}
    {% endcall %}
{% endblock main %}